name: Spellcheck Action
on:
    pull_request:
    workflow_dispatch:

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: rojopolis/spellcheck-github-actions@v0
      name: Spellcheck
